@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(246, 240, 235, 1);;
    color: rgba(73, 33, 24, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.navbar-container{
    width: 98vw;
    background-color: white;
    display: flex;
    padding: 3px ;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    
}
#p-logo{
    position: absolute;
    top: -10px;
    left: -10px;
    padding-top: 25px;
    padding-left: 15px;
    vertical-align: middle;
    width: 40px;
    margin-left: 20px;
    display: none;
}
#site-logo{
    vertical-align: middle;
    width: 40px;
    margin-left: 20px;
}
.nav-options{
    font-weight: 700;
    display: flex;
    list-style: none;
    flex-shrink: 0;


}
.nav-options a {
    font-size: 15px;
    padding: 11px;
    color: rgba(73, 33, 24, 1);
    text-decoration: none;
}

.grid-layout{
    display: grid;
    grid-template-rows: repeat(6,0.9fr);
    align-items: center;
    justify-content: center;
    gap: 10vw;
    margin-top: 40px;
}
.image-width-height{
    margin:  0px 2vw;
    height: 36vw;


}
.grid-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ending{
    justify-self: flex-start;
    margin: 6vh;
    font-weight: 500;
    color: rgba(133, 133, 133, 1);
    

}

@media (max-width:768px){
    .nav-options a {
        font-size: 12px;
        padding: 8px;
        color: rgba(73, 33, 24, 1);
        text-decoration: none;
        font-size: 5px;
    }
    #site-logo{
        display: none;
        /* width: 35px; */
    
    }
    #p-logo{
        width: 55px;
    
    }
    .image-width-height{
        margin: 0 30px;
        height: 40vw;
    }
    .gird-layout{
        grid-template-rows: repeat(6,0.7fr);
        gap:35px;
        margin-top: 0px;

    }
    h1{
        font-size: 25px;
    }
    .ending{
        font-size: 0.7em;
    }
    .navbar-container{
       /* visibility: hidden; */
       /* display: none; */
       /* width: 25px;
       height: 25px; */
       border-radius: 0 0 0 90% ;
       /* margin-top: 10px; */
       margin-bottom: 5px;
       width: 20vw;
       height: 20vw;
       /* width: 55px;
       height: 55px; */
       position: relative;
       align-self: flex-end;
       /* left: -20px; */
       box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    }
    .nav-options{
        display: none;
    }
    #p-logo{
        display: inline;
    }

}